Dataset(
    name: "Common Performance Advice",
    description: "Advice commonly repeated in #performance-help-check-pins",

    records: [
        // Anomaly DLC
        (
            identifiers: [
                PackageId("ludeon.rimworld.anomaly")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("The DLC is known to hit TPS more heavily than others, even if its content is not immediately present. If you are having serious issues with your TPS and are not planning on an Anomaly-focused run, consider disabling it."),
                  certainty: High,
                )
            ]
        ),
        // Interaction Bubbles Settings
        (
            identifiers: [
                PackageId("jaxe.bubbles"),
                WorkshopId(1516158345)
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: Miscellaneous("To avoid performance issues, adjust the mod settings to hide interaction bubbles above speed 1."),
                  certainty: High,
                )
            ]
        ),
        // RimHUD Settings
        (
            identifiers: [
                PackageId("jaxe.rimhud"),
                WorkshopId(1508850027)
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: Miscellaneous("To avoid performance issues, increase the refresh interval in the mod settings. The UI is still quite heavy, so close it when you want to run above speed 1."),
                  certainty: High,
                )
            ]
        ),
        // Faster Game Loading Settings / Stability
        (
            identifiers: [
                PackageId("taranchuk.fastergameloading")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: Unstable("Make sure you only enable the first option in the mod settings (more are enabled by default). Even with only that option enabled, this mod is experimental and might have compatibility issues. If your game becomes unresponsive during/after loading, try disabling it."),
                  certainty: High,
                )
            ]
        ),
        // Simple FX: Smoke
        (
            identifiers: [
                PackageId("owlchemist.simplefx.smoke2"),
                PackageId("owlchemist.simplefx.smoke")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("Heavy rendering code. You should consider disabling it."),
                  certainty: High,
                )
            ]
        ),
        // Simple FX: Splashes
        (
            identifiers: [
                PackageId("owlchemist.simplefx.splashes")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("Heavy rendering code. You should consider disabling it."),
                  certainty: High,
                )
            ]
        ),
        // FPS Stabilizer
        (
            identifiers: [
                PackageId("matvey24.fpsstabilizer"),
                WorkshopId(3318922522)
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("Trades off TPS for FPS, which is generally not worth it if you're already struggling to run the game at a decent speed."),
                  certainty: High,
                )
            ]
        ),
        // Simple FX: Vapor Revaporized
        (
            identifiers: [
                PackageId("atlas.simplefx.vapor.revaporized")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("Heavy rendering code."),
                  certainty: High,
                )
            ]
        ),
        // Humanoid Alien Races
        (
            identifiers: [
                WorkshopId(839005762), // Stable
                WorkshopId(2640710953), // Dev
                PackageId("erdelf.humanoidalienraces"),
                PackageId("erdelf.humanoidalienraces.dev")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("Constant, heavy impact on performance. If you *really* want to use a dependent mod, consider getting the Unpatcher: https://github.com/Zeracronius/Unpatcher/releases"),
                  certainty: High,
                )
            ]
        ),
        // PawnTargetFix
        (
            identifiers: [
                PackageId("fed1splay.pawntargetfix"),
                WorkshopId(2014789938)
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("Complex changes to combat AI have TPS impact scaling with amount of pawns. Consider disabling if you experience low TPS in combat."),
                  certainty: High,
                )
            ]
        ),
        // Yayo's Animations
        (
            identifiers: [
                PackageId("com.yayo.yayoani.continued")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: BadPerformance("As with most mods adding animations to common interactions, it has a very heavy impact on TPS."),
                  certainty: High,
                ),
                (
                  date: "2026-07-20",
                  notice: Miscellaneous("If you absolutely must use animations, download this patched version instead. The patched version reportedly runs up to 2x faster at 250 pawns, but keep in mind it will still have a constant impact: https://github.com/Hexnet111/Yayos-Animation-Performance-Patch"),
                  certainty: Medium
                )
            ]
        ),
        // Yayo's Caravan
        (
            identifiers: [
                PackageId("mlie.yayoscaravan")
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: Unstable("Very unstable. Might break your UI."),
                  certainty: High,
                )
            ]
        ),
        // Allow Tool
        (
            identifiers: [
                PackageId("unlimitedhugs.allowtool"),
                WorkshopId(761421485)
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: UseAlternative("Keyz' Allow Utilities", 3524716849, "Better performance, same features."),
                  certainty: High,
                )
            ]
        ),
        // HugsLib
        (
            identifiers: [
                PackageId("unlimitedhugs.hugslib"),
                WorkshopId(818773962)
            ],
            notices: [
                (
                  date: "2025-09-10",
                  notice: Unstable("Might cause issues. For all intents and purposes this has practically been replaced by Harmony in modern mods. If you can, replace any dependent mods and disable this."),
                  certainty: High,
                ),
                (
                  date: "2025-10-21",
                  notice: UseAlternative("Log Publisher from HugsLib", 2873415404, "After removing all HugsLib-dependent mods, install this standalone mod to retain log uploading functionality."),
                  certainty: High,
                ),
            ]
        ),
        // Smart Medicine
        // TODO: Verify is this is still the case, also include reasoning instead of just saying "terrible performance" if so.
        //(
        //    identifiers: [
        //        WorkshopId(3526251680),
        //        PackageId("memegoddess.smartmedicine")
        //    ],
        //    notices: [
        //        (
        //          date: "2025-09-10",
        //          notice: UseAlternative("Choose Your Medicine", 2937201140, "Smart Medicine has terrible performance. Choose Your Medicine has better performance and is more featureful."),
        //          certainty: High,
        //        )
        //    ]
        //),
        // [NL] Facial Animation
        (
            identifiers: [
                WorkshopId(1635901197),
                PackageId("nals.facialanimation")
            ],
            notices: [
                (
                  date: "2025-09-11",
                  notice: BadPerformance("Heavy on TPS. Consider disabling if you run into issues."),
                  certainty: High,
                )
            ]
        ),
        // Melee Animation
        (
            identifiers: [
                WorkshopId(2944488802),
                PackageId("co.uk.epicguru.meleeanimation")
            ],
            notices: [
                (
                  date: "2025-10-18",
                  notice: BadPerformance("Heavy on TPS. It constantly scans the map, even while combat isn't ongoing. If you have the TPS to spare, you can lessen the impact by setting Scan Tick Interval to a value between 10 and 60, with higher values leading to less overall lag. Even with a higher interval, there is bound to be a noticeable impact."),
                  context_url: "https://discord.com/channels/241677926855081984/660280287497814078/1428908888651993139", // Thanks @camelFont
                  certainty: High,
                )
            ]
        ),
        // Holsters
        (
            identifiers: [
                WorkshopId(2610120706),
                PackageId("iworosiak.holsters")
            ],
            notices: [
                (
                  date: "2025-09-11",
                  notice: BadPerformance("Somewhat heavy on TPS. Consider disabling if you run into issues."),
                  certainty: Medium,
                )
            ]
        ),
        // Allies are Helpful (1.6 Fork)
        (
            identifiers: [
                PackageId("ninagoblin.alliesarehelpful"),
                WorkshopId(3534920369)
            ],
            notices: [
                (
                  date: "2025-09-11",
                  notice: BadPerformance("Scales poorly with amount of allies on map. Consider disabling if you run into TPS issues."),
                  certainty: High,
                )
            ]
        ),
        // VPE Puppeteer
        (
            identifiers: [
                WorkshopId(3033779606),
                PackageId("vanillaexpanded.vpe.puppeteer")
            ],
            notices: [
                (
                  date: "2025-09-11",
                  notice: BadPerformance("Heavy on TPS even if content is not in use. Consider disabling if you aren't making heavy use of it."),
                  certainty: High,
                )
            ]
        ),
        // Ugh You Got Me
        (
            identifiers: [
                WorkshopId(1542424705),
                PackageId("marvinkosh.ughyougotme")
            ],
            notices: [
                (
                  date: "2025-09-11",
                  notice: UseAlternative("Short Social Fight", 3474244421, "Ugh You Got me is heavy on TPS due to constantly running the same checks."),
                  certainty: High,
                )
            ]
        ),
        // Camera+
        (
          identifiers: [
            WorkshopId(867467808),
            PackageId("brrainz.cameraplus")
          ],
          notices: [
              (
                date: "2025-10-16",
                notice: UseAlternative("SimpleCameraSetting", 3232415388, "Similar featureset, better performance."),
                certainty: Medium,
              )
          ]
        ),
        // Combat Extended
        (
          identifiers: [
            WorkshopId(2890901044),
            WorkshopId(3495749827),
            PackageId("ceteam.combatextended")
          ],
          notices: [
              (
                date: "2025-12-05",
                notice: BadPerformance("Some impact on TPS, but reasonable considering what it does. Heavier impact during combat."),
                certainty: High,
              )
          ]
        ),
        // Vehicle Map Framework
        (
          identifiers: [
            WorkshopId(3426502333)
          ],
          notices: [
              (
                date: "2025-09-15",
                notice: BadPerformance("Heavy impact on TPS, though author appears to be actively working on improving performance. Considering engine limitations, it is likely always going to have a noticeable impact. Consider what it does for you and decide if you have the TPS to spare."),
                certainty: Medium,
              )
          ]
        ),
        // RimWorld Performance Booster
        (
          identifiers: [
            WorkshopId(3568990757),
            PackageId("andreas.performancebooster.dev")
          ],
          notices: [
              (
                date: "2025-09-15",
                notice: Unstable("Known to be very broken. You should remove it immediately. The mod has been removed from the Steam Workshop by moderators multiple times. In addition to stability issues, it previously modified logging to hide errors from the user. Other modders reviewed the decompiled code and found that many of its patches were ineffective at best."),
                  context_url: "https://discord.com/channels/241677926855081984/708435078614614116/1417246771998101544", // Discussion in Dubs Mods Discord
                certainty: High,
              )
          ]
        ),
        // Slower Pawn Tick Rate
        (
          identifiers: [
            WorkshopId(3524116050),
            PackageId("arkymn.slowerpawntickrate")
          ],
          notices: [
              (
                date: "2025-10-17",
                notice: Miscellaneous("Adjust the mod settings: The multiplier should be at most 6. Higher values might cause broken pawn behavior."),
                certainty: High,
              )
          ]
        ),
        // Scattered Flames
        (
          identifiers: [
            WorkshopId(3261108120),
            PackageId("owlchemist.scatteredflames")
          ],
          notices: [
              (
                date: "2025-10-18",
                notice: BadPerformance("Detrimental to performance since 1.5. Better performance than Vanilla on 1.4 and prior."),
                certainty: High,
              )
          ]
        ),
        // Pause other settlements simulation
        (
          identifiers: [
            WorkshopId(3526657761),
            PackageId("esvn.pauseothersettlementssimulation")
          ],
          notices: [
              (
                date: "2025-10-20",
                notice: BadPerformance("This mod has a net-negative impact on performance. You should remove it. It patches Thing.DoTick with its checks, adding overhead to all active entities, thereby negating any potential benefits of not processing other settlements."),
                  context_url: "https://media.discordapp.net/attachments/841121808118710282/1399566639502196746/Screenshot_2025-07-28_203741.png?ex=68f78cc1&is=68f63b41&hm=892a6847a7edd7ad1b296b14fef236e1d4c95756b702e485e7e00f8f79f4e586&=",
                certainty: High,
              )
          ]
        ),
        // JecsTools
        (
          identifiers: [
            WorkshopId(3524247750), // "Unofficial Beta" fork
            PackageId("jecrell.jecstools")
          ],
          notices: [
              (
                date: "2025-10-21",
                notice: BadPerformance("Definite impact on performance. This is an ancient modding framework known to be unstable and slow. You should disable it unless you desperately want to use a dependent mod."),
                  context_url: "https://imgur.com/a/pTidlz8",
                certainty: High,
              )
          ]
        ),
        // Common Sense
        (
          identifiers: [
            WorkshopId(1561769193),
            PackageId("avilmask.commonsense")
          ],
          notices: [
              (
                date: "2025-10-21",
                notice: BadPerformance("This mod's tweaks to Pawn behavior add up in cost. Look through the settings and decide which options are actually worth a hit to performance."),
                certainty: High,
              )
          ]
        ),
        // Vanilla Temperature Expanded
        (
          identifiers: [
            WorkshopId(3202046258),
            PackageId("vanillaexpanded.temperature")
          ],
          notices: [
              (
                date: "2025-10-21",
                notice: BadPerformance("You should disable Proxy Heat in VTE's settings if you are having issues. It's enabled by default and heavy on performance."),
                certainty: High,
              )
          ]
        ),
        // DefLoadCache
        (
          identifiers: [
            WorkshopId(3703401461)
          ],
          notices: [
            (
              date: "2026-04-12",
              notice: Miscellaneous("Use Missile Girl instead. It implements def cache along with other performance features, while not being AI-generated. Download it here: https://github.com/ViralReaction/MissileGirl.git"),
              certainty: High,
            )
          ]
        ),
        // No Beards On Teenagers - 05/22/2026 - contr: tsind
        (
          identifiers: [
            PackageId("kuchiki.nobeardsonteenagers"),
            WorkshopId(3533296088)
          ],
          notices: [
            (
              date: "2026-05-22",
              notice: UseAlternative("Beard Age Requirement", 3706448581, "NBoT has reportedly considerable & unnecessary performance overhead. Recommended to replace it with 'Beard Age Requirement', specifically created as a more performance-friendly alternative."),
              certainty: High,
            ),
            (
              date: "2026-05-22",
              notice: UseAlternative("Mark of Manhood", 3646943505, "Optional alternative instead of 'Beard Age Requirement' with the same features."),
              certainty: High,
            )
          ]
        ),
        // VehicleRaid Framework
        (
          identifiers: [
            PackageId("gabrieel1482.raidvehicleframework"),
            WorkshopId(3667863988)
          ],
          notices: [
            (
              date: "2026-07-20",
              notice: BadPerformance("Known to significantly affect performance without being in use by the player."),
              certainty: High,
              context_url: "https://discord.com/channels/241677926855081984/708435078614614116/1527002835240353965"
            )
          ]
        ),
        // Medieval Overhaul Patches
        (
          identifiers: [
            PackageId("VR.MOPatches"),
          ],
          notices: [
            (
              date: "2026-07-20",
              notice: Unstable("Very out-of-date. The mod author themself has advised others to stop using it."),
              certainty: High,
              context_url: "https://discord.com/channels/241677926855081984/786001425309237279/1474806166222803096"
            )
          ]
        ),
        // FPS+ | RimThreaded by LuniX
        (
          identifiers: [
            WorkshopId(3756967401)
          ],
          notices: [
            (
              date: "2026-07-20",
              notice: Unstable("Remove immediately, does not actually improve your performance in any meaningful way and is likely to cause stability issues. This AI-generated mod that claims to be a continuation of RimThreaded while not actually being based on it. Contains various random patches unrelated to threading."),
              certainty: High
            )
          ]
        ),
        // Map Mode Framework Issues - 05/22/2026 - contr: tsind
        (
            identifiers: [
                PackageId("nozome.mapmodeframework"),
                WorkshopId(3296654393)
            ],
            notices: [
                (
                    date: "2026-05-22",
                    notice: Unstable("Map Mode Framework seems to have been abandoned in early development already and is now commonly causing hard crashes and broken saves for users."),
                    certainty: High,
                ),
                (
                    date: "2026-05-22",
                    notice: UseAlternative("Map Mode Framework Forked", 3672467706, "Changing from the original mod to the bug-fixed fork by 'ColossalFossil' reportedly fixes all major issues. It's not 100% certain yet if it works flawlessly, but it's definitely more stable than the original."),
                    certainty: Medium,
                )
            ]
        ),
        // RimDoctor
        (
          identifiers: [
            WorkshopId(3748829922)
          ],
          notices: [
            (
              date: "2026-07-20",
              notice: Unstable("Actively suppresses errors, has a constant performance impact due to always running its profiler and reimplements several things already in the basegame for no apparent reason. Mod appears to be AI-generated and is therefore very likely to be unstable."),
              certainty: High,
              context_url: "https://discord.com/channels/241677926855081984/708435078614614116/1518800101298933902",
            )
          ]
        ),
        // Performance Fish (to warn about unstable forks that claim to update it, remove this record once it's officially released)
        (
          identifiers: [
            PackageId("bs.performance")
          ],
          notices: [
            (
              date: "2026-07-23",
              notice: Unstable("You appear to be using an unofficial fork of Performance Fish, you should remove it immediately. There has been no official release for 1.6 yet and dubious forks claiming to bring it up-to-date are known for being very unstable and generally causing more issues than they solve."),
              certainty: High
            )
          ]
        ),
        // Rimworld Animations 2.0 (RJW Animations)
        (
            identifiers: [
                PackageId("c0ffee.rimworld.animations")
            ],
            notices: [
                (
                    date: "2026-07-22",
                    notice: BadPerformance("Recommend disabling. As with most other animation mods, this one has a constant impact on performance scaling with the amount of pawns rendered."),
                    certainty: High,
                )
            ]
        ),
        // Zoology: Realistic Animal Overhaul
        (
            identifiers: [
                WorkshopId(3679396881)
            ],
            notices: [
                (
                    data: "2026-07-23",
                    notice: BadPerformance("Consistently adds several minutes of loading time due to a massive number of patches with redundant checks. Author has confirmed they auto-generate these patches using a Python script in Workshop comments."),
                    certainty: High,
                    context_url: "https://discord.com/channels/241677926855081984/708435078614614116/1518356946481316005"
                ),
                (
                    data: "2026-07-23",
                    notice: Unstable("Considering the authors approach (see bad performance notice), compatibility issues are very likely should patched animals get updated. See context URL for a list of patched mods maintained by the author."),
                    certainty: High,
                    context_url: "https://steamcommunity.com/workshop/filedetails/discussion/3679396881/807971027746468676/"
                )
            ]
        ),
        // Majestic Foliage Framework[HH] (Continued)
        (
            identifiers: [
                WorkshopId(3358954913)
            ],
            notices: [
                (
                    data: "2026-07-23",
                    notice: BadPerformance("Tree transparency feature has constant, heavy impact on performance. Recommend removing."),
                    certainty: High,
                    context_urL: "https://discord.com/channels/241677926855081984/660280287497814078/1072619451972845568"
                ),
                (
                    data: "2026-07-23",
                    notice: Miscellaneous("The original version has not been in development since 1.4 and the Continued version has been officially discontinued with the 1.6 update. Any bugs and compatibility issues you may run into will likely not be patched. You are unlikely to receive support when using this mod."),
                    certainty: High,
                    context_url: "https://steamcommunity.com/sharedfiles/filedetails/?id=3358954913",
                )
            ]
        ),
        // Better GC: Mothballed and World Pawns
        (
            identifiers: [
                WorkshopId(2982026860),
                PackageId("gwinnbleidd.mothballedanddeadpawns")
            ],
            notices: [
                (
                    data: "2026-07-24",
                    notice: Unstable("Remove. Has had issues with deleting pawns that are still required due to conditions for deletion being changed, breaking saves."),
                    certainty: High
                ),
                (
                    data: "2026-07-24",
                    notice: UseAlternative("Placebo", 3653846815, "Implemented differently, adds mothballing to any hediffs that don't already have it. Will not delete pawns that shouldn't be deleted."),
                    certainty: High
                )
            ]
        )
    ]
)
