// Data taken from the Dubs Mods Discord community's "shitlist": https://docs.google.com/spreadsheets/d/1HqoGCdgd_UQlrDRXmMn0j92FT2Qv3lcnlg1JyRow8Cg/edit?gid=1731985214#gid=1731985214 on 2025-09-09
Dataset(
    name: "Dubs Community Slow Mods Spreadsheet",
    description: "Data from a spreadsheet curated by the community of the Dubs Mods Discord. Only entries still being developed and not marked Outdated as of 2025-09-09. Dates might be wrong as the spreadsheet contains mixed conventions. ATTENTION: Dubwise didn't create, nor is he curating this list. This list is created and maintained by fans of analyzer.",

    records: [
        // A RimWorld of Magic
        (
            identifiers: [
                WorkshopId(1201382956),
            ],
            notices: [
                (
                    date: "2024-09-23",
                    notice: BadPerformance("Very likely to lower TPS. Couple slow patches such as CompAbilityUserMight going to 0.6 ms average and spiking to 7 ms constantly. As well as whole pile of smaller patches, stacking really high, without even any content on the map. Slow gizmos on pawn selection as well."),
                    certainty: High,
                ),
            ],
        ),
        // Avoid Friendly Fire
        (
            identifiers: [
                WorkshopId(1134165362),
            ],
            notices: [
                (
                    date: "2023-11-06",
                    notice: BadPerformance("Very likely to lower TPS. Goes absolutely nuts in combat. With 20 pawns against a 15-20 pawn raid i got spikes up to 600 ms xD"),
                    certainty: High,
                )
            ]
        ),
        // Rim War
        (
            identifiers: [
                WorkshopId(2222935097)
            ],
            notices: [
                (
                    date: "2024-09-23",
                    notice: BadPerformance("Very likely to lower TPS. Obliterates fps on default settings. On a fully covered planet with several added factions WorldObjectsHolder method eventually climbs up to 15 ms (from 4ms without the mod)"),
                    certainty: High
                )
            ]
        ),
        // Allow Tool
        (
            identifiers: [
                WorkshopId(761421485)
            ],
            notices: [
                (
                    date: "2023-06-12",
                    notice: BadPerformance("Possible TPS impact, but reasonable. Haul Urgently copies vanilla hauling job, disable it in options. Drafted hunt has high overhead scaling with amount of pawns set to hunt. about 0.3 to 0.5 ms per pawn, use in moderation on speed 1. Otherwise the mod is fine."),
                    certainty: High
                )
            ]
        ),
        // Androids for RW 1.4
        (
            identifiers: [
                WorkshopId(2889326293)
            ],
            notices: [
                (
                    date: "2023-06-12",
                    notice: BadPerformance("Likely to lower TPS. Quite costly (HealthTracker and InteractionsTracker) even without any androids on the map, scales with amount of pawns."),
                    certainty: Medium // Has been updated to 1.6 but spreadsheet still mentions 1.4
                )
            ]
        ),
        // Colonist Bar KF (Continued)
        (
            identifiers: [
                WorkshopId(2270454746),
            ],
            notices: [
                (
                    date: "2023-06-12",
                    notice: BadPerformance("Very likely to lower TPS. Gud god, just keep the fuck away. For your own good. And no, its not Mlie's fault in any way. 45 ms average. High score!"),
                    certainty: High
                )
            ]
        ),
        // Mining & Co. Spaceship
        (
            identifiers: [
                WorkshopId(1221668621), // Original
                WorkshopId(2912642991) // Continued
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Possible TPS impact, but reasonable. Landing pad blinking lights cause whole game's GlowGrid to recalculate on each blink... Thats 6 to 10 ms spikes, depending on your light amount. Disable that option, as its enabled by default."),
                    certainty: Medium, // Only original was listed, but no optimizations mentioned on continued page
                )
            ]
        ),
        // Misc. Robots
        (
            identifiers: [
                WorkshopId(724602224)
            ],
            notices: [
                (
                    date: "2024-02-29",
                    notice: BadPerformance("Likely to lower TPS. Make vanilla jobs worse"),
                    certainty: High,
                    context_url: "https://i.postimg.cc/P5kNr9cC/image.png",
                )
            ]
        ),
        // PawnMorpher
        (
            identifiers: [
                WorkshopId(1786466855)
            ],
            notices: [
                (
                    date: "2024-02-29",
                    notice: BadPerformance("Likely to lower TPS. After optimizations about 2 ms of overhead after adding it and Humanoid Alien Races into ongoing save."),
                    certainty: High,
                    context_url: "https://i.postimg.cc/dtQP9kjc/image.png",
                )
            ]
        ),
        // People Can Change
        (
            identifiers: [
                WorkshopId(1257561308)
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Likely to lower TPS. Incredibly slow MapComp, scales with people on the map, active constantly. 20 pawns on the map create frequent spikes of 23-28 ms"),
                    certainty: High,
                    context_url: "https://i.postimg.cc/V66cK4Kv/image.png",
                )
            ]
        ),
        // RimHUD
        (
            identifiers: [
                WorkshopId(1508850027)
            ],
            notices: [
                (
                    date: "2023-06-12",
                    notice: BadPerformance("Possible TPS impact, but reasonable. With a pawn selected averages to 0.64 ms constant with proper settings. In my opinion its utility is worth the situational hit. Set refresh timeout in mod settings to maximum (3000 ms). That ll drop the overhead. Still don't keep a pawn's info window open for long, especially on high game speeds."),
                    certainty: High,
                    context_url: "https://i.postimg.cc/QMMCFyyd/image.png"
                )
            ]
        ),
        // RimCities
        (
            identifiers: [
                WorkshopId(1775170117)
            ],
            notices: [
                (
                    date: "2023-06-12",
                    notice: BadPerformance("Possible TPS impact, but reasonable. Laggy patch DefeatUtility and Cities.Tick, scales with amount of settlements on your world map. Overall impact with full coverage and a lot of factions reachest 0.5-0.6 ms. Shouldn't be too bad otherwise. Depends heavily on amount of settlements on your planet. The more of them - the worse. 100% coverage with max population setting nets you 4ms"),
                    certainty: High,
                    context_url: "https://i.postimg.cc/XvX5Rq3L/image.png"
                )
            ]
        ),
        // Turret Hunt
        (
            identifiers: [
                WorkshopId(2014132171), // Original
                WorkshopId(3256505678) // Continued
            ],
            notices: [
                (
                    date: "2023-06-12",
                    notice: BadPerformance("Likely to lower TPS. No ambient overhead, but when turret hunt mode is on eats about 2.5-11 ms constant, looking up for stuff to shoot. Increases the more turrets are set to hunt."),
                    certainty: Medium, // Spreadsheet only contains original, but continued seems mostly unchanged
                    context_url: "https://i.postimg.cc/5ybMCckY/image.png"
                )
            ]
        ),
        // Locks
        (
            identifiers: [
                WorkshopId(1157085076)
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Likely to lower TPS. Impact scales sharply with amount of doors with different access settings, average map with a lot of doors easily adds up to 0.5-0.6 ms, bigger colonies will suffer more."),
                    certainty: High,
                    context_url: "https://i.postimg.cc/rww3Xg6L/image.png"
                )
            ]
        ),
        // Room Food
        (
            identifiers: [
                WorkshopId(1339148170), // Original
                WorkshopId(3530729319) // Updated
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Likely to lower TPS. FindRoomFood patch spikes up to 100-110 ms every time a pawn decides to eat and seeks out a dining room. Scales with pawn amount and map size. Reasonably rare but spikes are very high."),
                    certainty: Medium,
                    context_url: "https://i.postimg.cc/kgmbdwM4/image.png"
                )
            ]
        ),
        // (NWN) Real Fog of War
        (
            identifiers: [
                WorkshopId(2560931731), // Original
                WorkshopId(3391128917) // Continued
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Very likely to lower TPS. Map Comp that eats TPS. Looks harmless in Harmony Patches, but Map Comp Tick will reveal it's something along the line of 10-15ms+ when pawns are moving."),
                    certainty: Medium,
                    context_url: "https://i.postimg.cc/02GQzkHC/image.png",
                )
            ]
        ),
        // Doors Expanded
        (
            identifiers: [
                WorkshopId(1316188771),
                WorkshopId(3532342422)
            ],
            notices: [
                (
                    date: "2024-09-30",
                    notice: BadPerformance("Likely to lower TPS. Scales with numbers of doors, test done with 6 doors enclosing a medium sized room. Constant overhead cost as well as spikes.  Uses the new 1.5 doors so its a small bit better but still has a number of functions unique to its dll that get called and just dont work due to not being entirely finished as an update."),
                    certainty: High,
                    context_url: "https://cdn.discordapp.com/attachments/886872658015297559/1009000956802895903/unknown.png?size=4096"
                ),
                (
                    date: "2024-09-30",
                    notice: UseAlternative("[LTS] Furnishing", 2567438519, "It has multitile doors, but does not impact performance nearly as much."),
                    certainty: High
                )
            ]
        ),
        // Moody
        (
            identifiers: [
                WorkshopId(826998327)
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Very likely to impact TPS. When opened it has an impact of about 2 ms constant, since its UI, does not vary with game speeds. Do not keep it open."),
                    certainty: High,
                    context_url: "https://i.postimg.cc/vZyGL8yP/image.png"
                )
            ]
        ),
        // Guards For Me
        (
            identifiers: [
                WorkshopId(1855885448)
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Likely to impact TPS. Mild constant impact (up to 0.2 ms average), but upon selecting a pawn (or several) produces massive lag of about 30-33 ms average. Makes commanding pawns during a fight horrid."),
                    certainty: High,
                    context_url: "https://i.postimg.cc/k5Ltdn4P/image.png"
                )
            ]
        ),
        // Kanban Stockpile
        (
            identifiers: [
                WorkshopId(2287142613)
            ],
            notices: [
                (
                    date: "2023-06-11",
                    notice: BadPerformance("Likely to impact TPS. Constant scanning when any limits are set. Removal of limits removes the patch in question."),
                    certainty: High,
                    context_url: "https://i.imgur.com/OtoMsMd.png"
                )
            ]
        ),
        // Everybody Gets One
        (
            identifiers: [
                WorkshopId(1687566130), // Original
                WorkshopId(3530806680) // Continued
            ],
            notices: [
                (
                    date: "2023-11-18",
                    notice: BadPerformance("Likely to impact TPS. Scales with the amount of pawns and also the amount of maintenance bills counting colonists."),
                    certainty: High,
                )
            ]
        ),
        // Pollution Overhaul
        (
            identifiers: [
                WorkshopId(2879166831)
            ],
            notices: [
                (
                    date: "2023-11-24",
                    notice: BadPerformance("Very likely to impact TPS. First ever winner for a position of severity 3 on slow mods list for a purely xml mod! A truly grand achievement. Made possible by noble attempt at making all the trees use PollutionPump comp, turning every map with dense flora into a slideshow. Impact varies by amount of trees on the map, thus by both biome and map size. As if made for sole purpose of disproving the theory of xml mods being harmless. No gentlemen, they re not."),
                    certainty: High,
                    context_url: "https://i.postimg.cc/HncvCJY1/image.png"
                )
            ]
        )
        // TODO: Continue data entry
    ]
)
